.list.active{
  display:block;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 5px;
}

.list{
  display:none;
  zoom:1;
  overflow:hidden;
  background-color: #c9e5f0;
  list-style-type: none;
}

.list li{
  margin-top: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #0b5785;
}
#help{
  margin-top: 20px;
  margin-left: 10px;
  font-size: 180%;
}
#collapseHelp{
  padding:10px 15px;
}
