.list.active{
  display:block;
}

.list{
  display:none;
  padding:1.4em;
  background-color: #c9e5f0;
  list-style-type: none;
}

.list li{
  margin-top:-1px;
  padding:10px 5px;
  border-top:1px solid #19495d;
}
